.main-container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;

    --sideNavBarWidth: 300px;
}

.main-container-section {
    width: var(--sideNavBarWidth);
    height: 100%;

    background-color: var(--blackColor);
    box-shadow: 0px 0px 5px lightblue;
    color: white;

    overflow-x: hidden;
}

.main-container-floating-section {
    width: var(--sideNavBarWidth);
    height: 100%;

    background-color: var(--blackColor);
    box-shadow: 0px 0px 5px lightblue;
    color: white;

    overflow-x: hidden;
}

.main-container-article {
    width: calc(100vw - var(--sideNavBarWidth));
    height: 100%;
    /* height: calc(100% - 24px - 85px - 10px); */
}

.main-container-footer {
    width: calc(100vw - var(--sideNavBarWidth));
    /* height: 24px; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;

    background-color: rgb(192, 192, 192);
    color: rgba(82, 81, 81, 0.692);
}

.article-content {
    width: 100%;
    overflow-y: auto;
    /* height: 88.6%; */
}

.floating-section-close-button-div {
    position: absolute;
    top: 10px;
    right: 4%;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media only screen and (max-width: 900px) {
    .main-container-section {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .main-container-article {
        width: 100vw;
    }
}

@media only screen and (max-width: 900px) {
    .main-container-footer {
        width: 100vw;
    }
}